[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "censo2022arg"]
	path = censo2022arg
	url = https://github.com/rodriduran/censo2022arg
